[core]
    editor = vim 
    pager = less -F -X
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
    type = cat-file -t
    dump = cat-file -p
[user]
    email = denys.kotelovych@gmail.com
    name = Denys Kotelovych
[pager]
    diff = false
[push]
    default = simple
